<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="customers-div">
	<h1>Lista de Acessórios</h1>

	<h3><%= link_to 'Registrar Acessório', new_add_on_path %></h3>

	<% if @add_ons.empty? %>
		<%= 'Nenhum acessório cadastrado' %>
	<% end %>

	<% if @add_ons.any? %>
			<table class="table">
				<head>
					<tr>
						<th><%= AddOn.human_attribute_name(:name) %></th>
						<th><%= AddOn.human_attribute_name(:daily_rate) %></th>
						<th></th>
						<th></th>
					</tr>
				</head>
				<tbody>
					<% @add_ons.each do |on| %>
					<tr>
						<td><%= on.name %></td>
						<td><%= number_to_currency on.daily_rate %></td>
						<td class="link-editar"><%= link_to 'Editar', edit_add_on_path(on), id: "edit-#{on.id}" %></td>
						<td class="link-excluir"><%= link_to 'Excluir', add_on_path(on), method: :delete, id: "delete-#{on.id}" %></td>
						
					</tr>
					<% end %>
				</tbody>
			</table>
	<% end %>
</div>
