<% @subsidiary.errors.full_messages.each do |message| %>
	<p class="msg-error"><%= message %></p>
<% end %>

<div class="form">
	<%= form_with model: @subsidiary, local: true do |f| %>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :cnpj %>
			<%= f.text_field :cnpj %>
		</div>
		<div class="field">
			<%= f.label :address %>
			<%= f.text_field :address %>
		</div>
		<button class="button-enviar-form" type="submit">Enviar</button>
	<% end %>
</div>
