<h3 class="link-to-back"><%= link_to 'Voltar', subsidiaries_path %></h3>

<div class="manufacturers-div">
	<h2 class="title-info-models">Informações da Filial</h2>
	<h1 class="title-manufacturer"><%= @subsidiary.name %></h1>
	
	<div class="subsidiary-info">
		<h4>CNPJ:</h4>
			<p><%= @subsidiary.cnpj %></p>
		<h4>Endereço: </h4>
			<p><%= @subsidiary.address %></p>
	</div>

	<% if @user.admin? %>
		<div class="buttons-manufacturer">
			<p class="link-editar"><%= link_to 'Editar', edit_subsidiary_path(@subsidiary)%></p>
			<p class="link-excluir"><%= link_to 'Excluir', subsidiary_path(@subsidiary), method: :delete %></p>
		</div>
	<% end %>
</div>
