<h3 class="link-to-back"><%= link_to 'Voltar', subsidiaries_path %></h3>

<div class="manufacturers-div">
	<h1 class="title-manufacturer"><%= @subsidiary.name %></h1>
	
	<div class="subsidiary-info">
		<h4>CNPJ: &nbsp;&nbsp;<%= @subsidiary.cnpj %></h4>
		<h4>Endereço: &nbsp;&nbsp;<%= @subsidiary.address %></h4>
	</div>

	<div class="buttons-manufacturer">
		<p class="link-editar"><%= link_to 'Editar', edit_subsidiary_path(@subsidiary)%></p>
		<p class="link-excluir"><%= link_to 'Excluir', subsidiary_path(@subsidiary), method: :delete %></p>
	</div>
</div>
