<% @customer.errors.full_messages.each do |message| %>
	<p><%= message %></p>
<% end %>

<div class="form">
	<%= form_with model: @customer, local: true do |f| %>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :document %>
			<%= f.text_field :document %>
		</div>
		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<button class="button-enviar-form" type="submit">Enviar</button>
	<% end %>
</div>
