<h1>Categorias de Carros</h1>

<%= link_to 'Voltar', root_path%>

<%= link_to 'Registrar nova Categoria', new_car_category_path %>

<% if @car_categories.empty? %>
	<%= 'Nenhuma categoria cadastrada' %>
<% end %>

<%= @car_categories.each do |c| %>
	<div>
		<h2><%= link_to "Categoria #{c.name}", c %></h2>
		
		<dl>
			<dt>Valor da diaria</dt>
			<dd><%= number_to_currency c.daily_rate %></dd>
		</sdl>
	</div>
<% end %>
