<h3 class="link-to-back"><%= link_to 'Voltar', root_path%></h3>

<div class="customers-div">
	<h1>Categorias de Carros</h1>

	<h3><%= link_to 'Registrar nova Categoria', new_car_category_path %></h3>

	<% if @car_categories.empty? %>
		<%= 'Nenhuma categoria cadastrada' %>
	<% end %>

	<% if @car_categories.any? %>
		<table>
			<thead>
				<tr>
					<th><%= Rental.human_attribute_name(:car_category) %></th>
					<th><%= CarCategory.human_attribute_name(:daily_rate) %></th>
				</tr>
			</thead>
			<tbody class="colums">
				<% @car_categories.each do |c| %>
					<tr>
						<td><%= link_to c.name, c %></td>
						<td><%= number_to_currency c.daily_rate %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
