<h1>Registre uma nova categoria:</h1>

<% @car_category.errors.full_messages.each do |message| %>
	<p><%= message %></p>
<% end %>

<%= form_with model: @car_category, local: true do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :daily_rate %>
	<%= f.text_field :daily_rate %>

	<%= f.label :car_insurance %>
	<%= f.text_field :car_insurance %>

	<%= f.label :third_part_insurance %>
	<%= f.text_field :third_part_insurance %>


	<%= f.submit 'Enviar'%>
<% end %>
