<h3 class="link-to-back"><%= link_to 'Voltar', car_categories_path %></h3>

<h2 class="title-info-models">Informações da Categoria</h2>
<table>
	<thead>
		<tr>
			<th><%= I18n.t('activerecord.models.car_category') %></th>
			<th><%= CarCategory.human_attribute_name(:daily_rate) %></th>
			<th><%= CarCategory.human_attribute_name(:car_insurance) %></th>
			<th><%= CarCategory.human_attribute_name(:third_part_insurance) %></th>
			<th></th>
			<th></th>
			</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= "#{@car_category.name}" %></td>
			<td><%= number_to_currency @car_category.daily_rate %></td>
			<td><%= number_to_currency @car_category.car_insurance %></td>
			<td><%= number_to_currency @car_category.third_part_insurance %></td>
			<td class="link-editar"><%= link_to 'Editar', edit_car_category_path(@car_category) %></td>
			<td class="link-excluir"><%= link_to 'Excluir', car_category_path(id: @car_category.id), method: :delete %></td>
		</tr>
	</tbody>
</table>

<div class="models-categories">
	<% if @car_category.car_models.any? %>
		<h3>Modelos de Carros</h3>
		<% @car_category.car_models.each do |car_model|%>
			<li><%= link_to car_model.name, car_model%></li>		
		<% end %>
	<% else %>
		<%= 'Sem modelos cadastrados' %>	
	<% end %>
</div>


