<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<%= link_to 'Voltar', root_path %>

<% if @rentals.empty? %>
	<%= 'Nenhuma locação registrada' %>
<% end %>

<%= form_with url: search_rentals_path, method: :get do |f| %>
	<%= f.label :q, 'Código' %>
	<%= f.text_field :q%>
	<%= f.submit 'Buscar' %>
<% end %>

<% if @rentals.any? %>
	<% @rentals.each do |rental| %>
		<dl>

			<dt>Código:</dt>
			<dd><%= rental.code %></dd>
	
			<dt>Data de inicio:</dt>
			<dd><%= rental.start_date && localize(rental.start_date) %></dd>

			<dt>Data de término:</dt>
			<dd><%= rental.end_date && localize(rental.end_date) %></dd>

			<dt>Cliente:</dt>
			<dd><%= rental.customer.name %></dd>

			<dt>Categoria:</dt>
			<dd><%= rental.car_category.name %></dd>
		</dl>

	<% end %>
<% end %>
