<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<% if @rentals.any? %>
	<% @rentals.each do |rental| %>
		<dl>
			<dt>Data de inicio:</dt>
			<dd><%= rental.start_date && localize(rental.start_date) %></dd>

			<dt>Data de término:</dt>
			<dd><%= rental.end_date && localize(rental.end_date) %></dd>

			<dt>Cliente:</dt>
			<dd><%= rental.customer.name %></dd>

			<dt>Categoria:</dt>
			<dd><%= rental.car_category.name %></dd>
		</dl>

	<% end %>
<% end %>
