<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="customers-div">
	<h1>Locações</h1>

	<h3><%= link_to 'Registrar nova locação', new_rental_path %></h3>

	<% if @rentals.empty? %>
		<%= 'Nenhuma locação registrada' %>
	<% end %>

	<%= render "search_field" %>

	<% if @rentals.any? %>
			<table class="table">
				<head>
					<tr>
						<th><%= Rental.human_attribute_name(:code) %></th>
						<th><%= Rental.human_attribute_name(:start_date) %></th>
						<th><%= Rental.human_attribute_name(:end_date) %></th>
						<th><%= Rental.human_attribute_name(:customer) %></th>
						<th><%= Rental.human_attribute_name(:car_category) %></th>
						<th>Status:</th>
						<th></th>
						<th></th>
					</tr>
				</head>
				<tbody>
					<% @rentals.each do |rental| %>
					<tr>
						<td><%= rental.code %></td>
						<td><%= rental.start_date && localize(rental.start_date) %></td>
						<td><%= rental.end_date && localize(rental.end_date) %></td>
						<td><%= rental.customer.name %></td>
						<td><%= rental.car_category.name %></td>
						<td><%= Rental.human_attribute_name("status.#{rental.status}") %></td>
						<td class="link-editar"><%= link_to 'Editar', edit_rental_path(rental), id: "edit-#{rental.id}" %></td>
						<td class="link-excluir"><%= link_to 'Excluir', rental_path(rental), method: :delete, id: "delete-#{rental.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	<% end %>
</div>
