<h3 class="link-to-back"><%= link_to 'Voltar', rentals_path %></h3>

<div class="field-seach">
	<%= form_with url: search_rentals_path, method: :get, local: true do |f| %>
		<%= f.label :q, 'Código' %>
		<%= f.text_field :q%>
		<button class="button-busca" type="submit">Buscar</button>
	<% end %>
</div>

<% if @rental %>
	<dl>
		<dt>Código:</dt>
		<dd><%= @rental.code %></dd>

		<dt>Data de inicio:</dt>
		<dd><%= @rental.start_date && localize(@rental.start_date) %></dd>

		<dt>Data de término:</dt>
		<dd><%= @rental.end_date && localize(@rental.end_date) %></dd>

		<dt>Cliente:</dt>
		<dd><%= @rental.customer.name %></dd>

		<dt>Categoria:</dt>
		<dd><%= @rental.car_category.name %></dd>
	</dl>

	<%= link_to 'Iniciar', new_rental_car_rental_path(@rental) %>

<% else %>
	<p><%= "Nenhum resultado encontrado para: #{@q}" %></p>
<% end %>
