<h3 class="link-to-back"><%= link_to 'Voltar', rentals_path %></h3>

<div class="manufacturers-div">

<h3 class="title-info-models">Locação agendada com sucesso!</h3>

	<% if @rental.car_rental %>
		<div class="subsidiary-info">
			<h4>Usuario que iniciou: </h4>
			<p><%= @rental.car_rental.user.email%></p>

			<h4>Data/Hora que iniciou: </h4>
			<p><%= l(@rental.car_rental.created_at, format: :long) %></p>

			<h4>Placa: </h4>
			<p><%= @rental.car_rental.car.license_plate %></p>

			<h4>Cliente: </h4>
			<p><%= @rental.customer.name %></p>

			<h4>Email do Cliente: </h4>
			<p><%= @rental.customer.email %></p>

			<h4>Acessorios:</h4>
			<p><%= @rental.car_rental.add_on.name %></p>

			<% if @rental.ongoing? %>
				<h4>Status: </h4>
				<%= Rental.human_attribute_name("status.#{@rental.status}") %>
			<% end %>
	
			<h4>E-mail do contratante: </h4>
			<p><%= @rental.car_rental.user.email %></p>
		</div>
	<% end %>
</div>
