<% @car.errors.full_messages.each do |message| %>
	<p class="msg-error"><%= message %></p>
<% end %>

<div class="form">
	<%= form_with model: @car, local: true do | form |%>
		<div class="field">
			<%= form.label :license_plate %>
			<%= form.text_field :license_plate %>
		</div>
		<div class="field">
			<%= form.label :color %>
			<%= form.text_field :color %>
		</div>
		<div class="field">
			<%= form.label :car_model_id %>
			<%= form.collection_select :car_model_id, @car_models, :id, :name %>
		</div>
		<div class="field">
			<%= form.label :mileage %>
			<%= form.number_field :mileage %>
		</div>
		<div class="field">
			<%= form.label :subsidiary_id %>
			<%= form.collection_select :subsidiary_id, @subsidiaries, :id, :name %>
		</div>
		<div class="field">
			<%= form.label :car_photo %>
			<%= form.file_field :car_photo %>
		</div>
		<button class="button-enviar-form" type="submit">Enviar</button>
	<% end %>
</div>
