<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="customers-div">
	<h1>Carros Cadastrados</h1>

	<% if current_user.admin? %>
		<h3><%= link_to 'Registrar novo carro', new_car_path%></h3>
	<% end %>

	<% if @cars.empty? %>
		<%= 'Nenhum carro cadastrado' %>
	<% end %>
	<div class="each-photo-car">
		<% @cars.each do |car| %>
	
			<div>
				<% if car.car_photo.present? %>
					<%= image_tag(car.car_photo, size: "320x200", alt: "Carro") %>
				<% else %>
					<%= image_tag("carnotfound.jpg", size: "320x200", alt: "Carro") %>
				<% end %>

				<p>Placa: <%= link_to car.license_plate, car %> </p>
			
				<% if car.available? %>
					<p class="alert-green">Disponível</p>
				<% end %>

				<% if car.unavailable? %>
					<p class="alert-red">Indisponível</p>
				<% end %>

				<p class="link-show-car">
					<%= link_to 'Ver carro', car %>
				</p>
			</div>
		<% end %>
	</div>
</div>
