<%= link_to 'Voltar', cars_path %>

<h2>Placa: <%= @car.license_plate %></h2>
<h4>Cor: <%= @car.color %></h4>
<h4>Modelo: <%= link_to @car.car_model.name, car_model_path(id: @car.car_model.id) %></h4>
<h4>Quilometragem: <%= @car.mileage %></h4>
<h4>Filial: <%= link_to @car.subsidiary.name, subsidiary_path(id: @car.subsidiary.id) %></h4>

<%= link_to 'Editar', edit_car_path(@car)%>
<%= link_to 'Excluir', car_path(@car), method: :delete%>
