<h3 class="link-to-back"><%= link_to 'Voltar', cars_path %></h3>

<div class="manufacturers-div">
	<h2 class="title-info-models">Informações do Carro</h2>
	<div class="info-cars">
		<h4><%= Car.human_attribute_name(:license_plate) %></h4>
		<p><%= @car.license_plate %></p>

		<h4><%= Car.human_attribute_name(:color) %></h4>
		<p><%= @car.color %></p>

		<h4><%= Car.human_attribute_name(:car_model) %></h4>
		<p><%= link_to @car.car_model.name, car_model_path(id: @car.car_model.id) %></p>

		<h4><%= Car.human_attribute_name(:mileage) %></h4> 
		<p><%= @car.mileage %></p>

		<h4><%= Car.human_attribute_name(:subsidiary) %></h4>
		<p><%= link_to @car.subsidiary.name, subsidiary_path(id: @car.subsidiary.id) %></p>
	</div>

	<div class="buttons-manufacturer">
		<p class="link-editar"><%= link_to 'Editar', edit_car_path(@car)%></p>
		<p class="link-excluir"><%= link_to 'Excluir', car_path(@car), method: :delete%></p>
	</div>
</div>
