<h3 class="link-to-back"><%= link_to 'Voltar', rentals_path %></h3>

<div class="form-session">

	<h1 class="title-start-rental">Iniciando um agendamento</h1>

	<%= form_with model: [@rental, @car_rental], local: true do |f| %>
		<div class="field">
			<%= f.label :car_id, 'Carro' %>
			<%= f.collection_select :car_id, @cars, :id, :license_plate %>
		</div>

		<div class="field">
			<%= f.label :add_on_id, 'Acessorios' %>
			<%= f.collection_select :add_on_id, @add_ons, :id, :name %>
		</div>

		<button class="button-enviar-form" type="submit">Confirmar locação</button>
	<% end %> 
</div>
