<% @manufacturer.errors.full_messages.each do |message| %>
	<p><%= message %></p>
<% end %>

<div class="form">
	<%= form_with(model: @manufacturer) do |f| %>
		<div class="field">
			<%= f.label :name %>
		</div>
		<div class="field">
			<%= f.text_field :name %>
		</div>
		<%= f.submit 'Enviar'%>
	<% end %>
</div>
