<h3 class="link-to-back"><%= link_to 'Voltar', car_models_path %></h3>

<h2 class="title-info-models">Informações do Modelo</h2>
<table>
	<thead>
		<tr>
			<th><%= I18n.t('activerecord.models.car_model') %></th>
			<th><%= CarModel.human_attribute_name(:manufacturer) %></th>
			<th><%= CarModel.human_attribute_name(:year) %></th>
			<th><%= CarModel.human_attribute_name(:motorization) %></th>
			<th><%= CarModel.human_attribute_name(:fuel_type) %></th>
			<th><%= CarModel.human_attribute_name(:car_category) %></th>
			<th><%= CarCategory.human_attribute_name(:daily_rate) %></th>
			<th></th>
			<th></th>
		</tr>
		<tbody>
			<tr>
				<td><%= @car_model.name %></td>
				<td><%= @car_model.manufacturer.name %></td>
				<td><%= @car_model.year %></td>
				<td><%= @car_model.motorization %></td>
				<td><%= @car_model.fuel_type %></td>
				<td><%= @car_model.car_category.name %></td>
				<td><%= number_to_currency @car_model.car_category.daily_rate %></td>
	
				<% if @user.admin? %>
					<td class="link-editar"><%= link_to 'Editar', edit_car_model_path(@car_model), id: "edit-#{@car_model.id}"%></td>
					<td class="link-excluir"><%= link_to 'Excluir', car_model_path(@car_model), method: :delete, id: "delete-#{@car_model.id}" %></td>
				<% end %>
			</tr>
		</tbody>
	</thead>
</table>
