<section id="main">
	<h1>Modelo de Carro<%= CarModel.human_attribute_name(:car_model) %></h1>
	<dl>
		<dt><%= CarModel.human_attribute_name(:manufacturer) %></dt>
		<dd><%= @car_model.manufacturer.name %></dd>

		<dt><%= CarModel.human_attribute_year(:car_model) %></dt>
		<dd><%= @car_model.manufacturer.year %></dd>

		<dt><%= CarModel.human_attribute_motorization(:car_model) %></dt>
		<dd><%= @car_model.manufacturer.motorization %></dd>

		<dt><%= CarModel.human_attribute_fuel_type(:car_model) %></dt>
		<dd><%= @car_model.manufacturer.fuel_type %></dd>

		<dt><%= CarModel.human_attribute_name(:car_category) %></dt>
		<dd><%= @car_model.car_category.name %></dd>

		<dt><%= CarModel.human_attribute_daily_rate(:car_category) %></dt>
		<dd><%= number_to_currency @car_model.car_category.daily_rate %></dd>
	</dl>
</section>
