<!DOCTYPE html>
<html>
  <head>
    <title>Rental Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    	<nav>
		<% if user_signed_in? %>
			<li><%= link_to 'Sair', destroy_user_session_path, method: :delete%></li>
			<li><%= link_to 'Locações', rentals_path%></li>
			<li><%= link_to 'Cadastrar Cliente', new_customer_path%></li>
			<li><%= link_to 'Modelos de Carros', car_models_path%></li>
			<li><%= link_to 'Categorias de Carros', car_categories_path%></li>
			<li><%= link_to 'Fabricantes', manufacturers_path%></li>
			<li><%= link_to 'Filiais', subsidiaries_path%></li>

	 	<% else %>
			<li><%= link_to 'Entrar', new_user_session_path%></li>
		<% end %>   
	</nav>

    <%= flash[:notice] %>

    <% if flash[:alert] %>
        <%= flash[:alert] %>
    <% end %>

    <%= yield %>
  </body>
</html>
