<!DOCTYPE html>
<html>
  <head>
    <title>Rental Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    	<nav class="menu">
		<div class="logo"><%= image_tag("logo.png", size: "100x100", alt: "Logo")%></div>
		<% if user_signed_in? %>
				
				<li><%= link_to 'Home', root_path%></li>
				<li><%= link_to 'Clientes', customers_path%></li>

				<div class="dropdown">
					<button>Alugue agora</button>
					<div class="dropdown-content">
						<li><%= link_to 'Fabricantes', manufacturers_path%></li>
						<li><%= link_to 'Locações', rentals_path%></li>
						<li><%= link_to 'Filiais', subsidiaries_path%></li>
						<li><%= link_to 'Modelos de Carros', car_models_path%></li>
						<li><%= link_to 'Categorias de Carros', car_categories_path%></li>
						<li><%= link_to 'Carros das Frotas', cars_path%></li>
					</div>
				</div>
				<li class="li-sair"><%= link_to 'Sair', destroy_user_session_path, method: :delete%></li>
		 <% else %>
			
			<h4 class="li-entrar"><%= link_to 'Entrar', new_user_session_path%></h4>
		<% end %> 
	</nav>

    <% if flash[:notice] %>
        <p class="msg-alert"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
        <p class="msg-error"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
